<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for Camera and Media Access -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <!-- Ensure that the Camera feature is available -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <!-- App configuration -->
    <application
        android:icon="@mipmap/datesafe_icon"
        android:roundIcon="@mipmap/datesafe_icon_round"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="34">

        <!-- Activities -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Additional Activities -->
        <activity android:name=".GovernmentId" />
        <activity android:name=".LivePhoto" />
        <activity android:name=".PicturesMatch" />
        <activity android:name=".CreateProfile" />
        <activity android:name=".Swipe" />
        <activity android:name=".WarningMan" />
        <activity android:name=".SwitchModes" />
        <activity android:name=".EventActivity" />
        <activity android:name=".LoadingActivity" />

    </application>

</manifest>
